header{
    display: flex;

    padding-inline: 1em;
    padding-block: 1em;
    padding-top: 2em;

    align-items: center;
    justify-content: center;

    color: #ACB554;
    font-weight: 800;
    font-family: Inria Serif;

    font-size: 3em;
}