//html, body {
//    height: 100%;
//    margin: 0;
//}

//body {
//    background-image: url("gray bak.png");
//    background-size: cover;
//    background-position: center;
//    background-repeat: no-repeat;
//    background-attachment: fixed;
//}

hr{
    height: 0.1em;
    border: none;
    background-color: #AAAAAA;
}

.drop-rate{
    position: absolute;
    top: 1em;
    left: 1em;

    width: 15em;
    height: auto;

    border: 0.2em solid #AAAAAA;
    border-radius: 8px;
}

.gray-text{
    color: #AAAAAA;
    font-family: Inria Serif;

    font-weight: bold;
    font-size: 1.2em;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    background-color: #D9D9D9;
}

.center{
    text-align: center;
}

//.rollingScreen{
//    border-color: gray;
//    border-style: solid;
//    border-width: 0.3em;

//    width: 8em;
//    height: 8em;
//    position: relative;
//    margin: auto;
//    margin-bottom: 1em;
//}
