//.rollingScreen{
//    border-color: gray;
//    border-style: solid;
//    border-width: 0.3em;

//    width: 8em;
//    height: 8em;
//    position: relative;
//    margin: auto;
//    margin-bottom: 1em;
//}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    background-color: #D9D9D9;
}

.center{
    text-align: center;
}

