.rollingScreen{
    border-color: gray;
    border-style: solid;
    border-width: 0.3em;

    width: 8em;
    height: 8em;

    position: relative;
    margin: auto;
    margin-bottom: 1em;
}

.center{
    text-align: center;
}