.roll-button{
    background-color: #ACB554;
    color: white;
    padding: 1em;
    width: 8em;

    border: none;
    border-radius: 40px;
    cursor: pointer;

    font-family: Inria Serif;
    font-size: 1em;
}