.card{
    border: 0.2em solid #AAAAAA;
    border-radius: 8px;
    
    width: 200px;
    height: 180px;
    margin: 1em;

    margin: 1em auto;
}

.card img {
  width: 100%;
  height: 180px;        
  object-fit: cover;   
  
  border-radius: 6px;
}