.startButton{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 40px;
    font-size: 24px;
    background-color: #82af84;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}